* {
  box-sizing: border-box;
	font-family: myriad pro;
	font-weight: normal;
}
h1, h2 {
  text-align: center;
  padding: 5% 0;
}
h1 a, h2 a {
  color: black;
}
h1 a:hover, h2 a:hover {
  text-decoration: none;
  cursor: default;
  color: black;
}
.main-banner {
	background-image: url(../img/main-photo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.main-nav-logo {
  padding-top: 7%;
	font-size: 60pt;
	text-align: center;
}
.main-nav-logo-item {
  color: #1fda96;
}
.main-nav {
	color: white;
}
.main-nav-text {
	font-size: 24pt;
	line-height: 28pt;
	text-align: center;
}
.main-nav-sub-text {
	font-size: 14pt;
  width: 80%;
  margin: 0 auto;
	text-align: center;
  line-height: 22pt;
}
.main-nav-icon {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 7%;
  margin-left: 8%;
  padding-bottom: 30%;
}
/*icons*/
.main-nav-item {
  height: 150px;
}
.main-nav-icon-content {
  cursor: pointer;
  position: relative;
  font-size: 14pt;
	z-index: 25;
	background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  top: 62px;
  left: 6px;
  width: 71px;
  height: 62px;
}
.icon-content-team {
  background-position: -67px 0;
  width: 67px;
}
.icon-content-services {
  background-position: -131px 0;
  width: 67px;
}
.icon-content-portfolio {
  background-position: -192px 0;
  width: 67px;
}
.icon-content-blog {
  background-position: -260px 0;
  width: 67px;
}
.icon-content-contact {
  background-position: -323px 0;
  width: 67px;
}
.main-nav-icon-content-text {
  position: absolute;
  width: 80%;
  text-align: center;
  top:65px;
  left: 0;
  right:0;
  color: white;
}
.main-nav-icon-content-text a {
  color: white;
}
.main-nav-icon .main-nav-icon-bghex {
  margin-right: 85px;
}
.main-nav-icon-bghex {
	cursor: pointer;
	display: inline-block;
	position: relative;
  margin: 1em auto;
  width: 4.5em;
  height: 7.7em;
  border-radius: 1em/ .5em;
  opacity: .35;
  background: white;
  */
  cursor: pointer;
	transform: rotate(60deg);
}
.main-nav-icon-bghex:before, .main-nav-icon-bghex:after {
	position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.main-nav-icon-bghex:before {
  transform: rotate(60deg);
}
.main-nav-icon-bghex:after {
  transform: rotate(-60deg);
}
.main-nav-icon-bghex:active {
	background-color: #492445;
  opacity: 1;
}
.main-nav-icon-bghex--new {
	background-color: #492445;
  opacity: 1;
}
/*menu*/
.menu-item {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-item li {
  padding: 5% 6% 3%;
  font-size: 17px;
  display: inline-block;
  list-style-type: none;
}
.menu-item li a {
  color: black;
  cursor: pointer;
}
.menu-item li a:hover {
  color: #9f449b;
  text-decoration: none;
}
.sub-banner {
	background-image: url(../img/Bhagaskara-iwo_07.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
  width: 100%;
  color: white;
  font-weight: 100;
}
.hex {
  width:100%;
  transform: rotate(30deg);
  display: inline-flex;
}
.row-bg {
  background-color: #eeeeee;
}
/*home-text*/
.home-item {
  padding:10% 0;
}
.home-icon-content {
  cursor: pointer;
  position: absolute;
	background-image: url("../img/sprite.png");
  z-index: 20;
  width: 71px;
  height: 62px;
}
.home-icon-wrap {
  padding: 38% 7% 0;
}
.home-icon-love {
  cursor: pointer;
  display: block;
  position: relative;
  margin: -7em auto;
  width: 4.5em;
  z-index: 200;
}
.home .container .row .home-icon-wrap:last-child {
  padding-bottom: 15%;
}
.home-text {
  text-align: center;
}
.home-text p {
  padding: 0 6%;
}
.home-text h3 {
  padding: 3% 0;
}
/*about*/
.about img {
  padding-bottom: 9%;
}
.about-text p {
  padding-bottom: 3%;
  text-align: center;
}
.about-but-learn {
  background-color: #1fda96;
  font-size: 16px;
  padding: 15px 50px;
  color: white;
  margin: 6% auto;
  display: flex;
  text-align: center;
  width: 170px;
}
.about-show-more {
  display: none;
}
/*subbanner*/
.sub-banner-hex {
  padding-top: 5%;
}
.sub-banner .container h2 {
  padding-bottom: 8%;
}
.quote {
  padding-top: 210px;
  margin: -8.3em auto;
}
/*our team*/
.our-team {
  text-align: center;
  padding-bottom: 40px;
}
.social {
  width: 40px;
}
.img-circle {
  border-radius: 50%;
  width: 25%;
  margin-top: 8%;
}
/*skills*/
.skill-gray {
  background-color: lightgray;
  height: 14px;
  width: 300px;
  margin: 0 auto 90px;
}
.skill-purple {
  background-color: #5f2154;
  height: 14px;
  width: 0;
}
.revealOnScroll {
  opacity: 0;
}
.web-design {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: persentages;
  animation-name: persentages;
  width: 180px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes persentages {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}
.html-css {
  animation: persentagesB 2s;
  width: 240px;
}
@keyframes persentagesB {
  0% {
    width: 0px;
  }
  100% {
    width: 240px;
  }
}
.graphic-design {
  animation: persentagesC 2s;
  width: 300px;
}
@keyframes persentagesC {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}
.uiux {
  animation: persentagesB 2s;
  width: 240px;
}
.skill-item {
  text-align: center;
  display: flex;
  justify-content: center;
}
.skill-text {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
/*value*/
.value-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 12%;
}
.value-item {
  padding: 0 0 90px;
  text-align: center;
}
.value-item .img-circle2 {
  display: inline !important;
  margin-bottom: 5%;
  border-radius: 50%;
  width: 25%;
  margin-top: 8%;
}
.carousel-indicators {
  bottom: 40px;
}
.carousel-indicators li {
  border: 1px solid gray;
}
.carousel-indicators .active {
  background-color: gray
}
.value {
  width: 50%;
}
/*gallery*/
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}
.img-responsive {
  display: inline-block;
}
.portfolio-but-all {
  margin: 3% auto;
  text-align: center;
}
.btn-category {
  background-color: #9f449b;
  border: #9f449b;
}
.btn-category:hover, .btn-category:active {
  background-color: #6f286c;
  border: #6f286c;
}

.gallery-img {
  width: 100%;
}
.about-but-watch {
  background-color: #1fda96;
  font-size: 16px;
  padding: 15px 50px;
  color: white;
  margin: 3% auto 3%;
  display: flex;

}
.scale-anm {
  transform: scale(1);
}
.but-watch-wrap {
  width: 100%;
}
/*form*/
.form {
  text-align: center;
}
.form-item {
  width: 80%;
  padding: 3%;
  margin-bottom: 4%;
}
.form-but {
  background-color: #9f449b;
  margin-bottom: 11%;
}
.form-info {
  padding: 0 10%;
  text-align: center;
}
.form-info-text2 {
  font-weight: 600;
}
.form-info-text3 {
  font-weight: 600;
  font-size: 18px;
  padding-top: 3%;
}

@media (min-width: 768px) {
.main-nav-logo {
  font-size: 85pt;
}
.main-nav-text {
  font-size: 40pt;
  line-height: 44pt;
}
.main-nav-sub-text {
  font-size: 18pt;
  width: 60%;
  padding-bottom: 10%;
  line-height: 22pt;
}
.main-nav-item {
  height: 262px;
}
.main-nav-icon {
  width: 100%;
  padding-left: 3%;
  margin-left: 2%;
  padding-bottom: 16%;
}
.main-nav-icon-content {
  top: 83px;
  left: 22px;
}
.main-nav-icon-bghex {
  width: 6.5em;
  height: 11em;
}
/*menu*/
.menu-item li {
  padding: 5% 3% 3%;
}
/*home*/
.home-icon-wrap {
  padding: 35% 7% 0;
}
.home-icon-love {
  margin: -8.5em auto;
}
.home .container .row .home-icon-wrap:last-child {
  padding-bottom: 10%;
}
/*about*/
.about-text p {
  text-align: left;
}
.about-but-learn {
  color: white;
  margin: 3% 1.5%;
  display: inline-block;
}
/*subbanner*/

/*our team*/
.img-circle {
  width: 50%;
}
.value-item .img-circle2 {
  width: 15%;
}
/*value*/
.value {
  width: 25%;
}
/*gallery*/
.gallery-img {
  width: 32%;
}
/*form*/
.form  {
  text-align: right;
}
.form-but {
  background-color: #9f449b;
  margin-bottom: 11%;
  margin: 0;
}
.form-info {
  padding: 0 3%;
  text-align: left;
}

}
@media (min-width: 990px) {
  /*menu*/
  .menu-item li {
    padding: 5% 4% 3%;
  }
  /*home*/
  .home-icon-wrap {
    padding: 22% 2% 0;
  }
  .home-icon-love {
    margin: -8.5em auto;
  }
  .home .container .row .home-icon-wrap:last-child {
    padding-bottom: 7%;
  }
.img-circle2 {
  width: 40%;
}
}
